.card-container {
  background-color: #DAE0D9;
}
canvas,
.graph-background {
  height: 50px;
  width: 50px;
}
h1.title {
  color: #c8000a;
  margin-top: 1.5em;
}
h3.subtitle {
  margin-bottom: 1em;
}
.card-title {
  color: black;
  margin-bottom: 2em;
}
#sunny-track {
  background: url('../images/sunny-track.png') no-repeat;
  height: 100px;
  width: 100%;
}
#champagne-shower {
  background: url('../images/champagne-shower.png') no-repeat;
  height: 100px;
  width: 100%;
}
#thunder {
  background: url('../images/thunder.png') no-repeat;
  height: 100px;
  width: 100%;
}
#race {
  background: url('../images/race.png') no-repeat;
  height: 100px;
  width: 100%;
}
#party {
  background: url('../images/party.png') no-repeat;
  height: 100px;
  width: 100%;
}
#fans {
  background: url('../images/fans.png') no-repeat;
  height: 100px;
  width: 100%;
}
