extends layout
block header
  link(href="css/dashboard.css" rel="stylesheet")

block content
  div(ng-controller="dashboardController")
    .col-md-6
      .jumbotron.main-container
          .col-md-12
            canvas#racesCancelled
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js")
  script(src="/js/controllers/dashboard.js")
