extends layout
block header
  link(rel="stylesheet" href="css/index.css")
block content
  div(ng-controller='indexController')
    .card#card
      .list-group.list-group-flush
        .list-group-item

block scripts
  script(src="js/index.js")
